/* @font-face {
    font-family: "Roboto-Bold";
    src: local ("Roboto-Bold"), url("../fonts/Roboto-Bold.woff2") format("woff2"),
        url("../fonts/Roboto-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
 */

 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
